mixin icon(name, className)
  - var icon = require(`./images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className)
  img(src=require(`./images/${path}`).default class=className)


mixin quote(reviewerName, reviewerTitle, review, reviewerAvatar)
  .quote
    .quote-icon
      +icon("quote", "quote-icon")
    .quote__text
      p #{review}
    .quote__user
      .user-display
        .user-display__avatar
          .user-display__avatar-style
            +image(`content/${reviewerAvatar}`, "user-display__pic")
        .user-display__data
          .user-display__name #{reviewerName}
          .user-display__title #{reviewerTitle}
