mixin icon(name, className)
  - var icon = require(`./images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className)
  img(src=require(`./images/${path}`).default class=className)


mixin skill(name, skillLevel) 
  - var skillLevelDashOffset = 251 - 251*(skillLevel / 100);
  svg(viewBox="0 0 100 100").skill__circle-shape
    circle(cx="50" cy="50" r="40").skill__circle.skill__circle--layer--under
    circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform="rotate(180 50 50)" style=`stroke-dashoffset: ${skillLevelDashOffset}`).skill__circle.skill__circle--layer--above
    linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="100%")
      stop(offset="0%" stop-color="#5500f2")
      stop(offset="100%" stop-color="#8f00ef")
  .skill_title #{name}

mixin quote(reviewerName, reviewerTitle, review, reviewerAvatar)
  .quote
    .quote-icon
      +icon("quote", "quote-icon")
    .quote__text
      p #{review}
    .quote__user
      .user-display
        .user-display__avatar
          .user-display__avatar-style
            +image(`content/${reviewerAvatar}`, "user-display__pic")
        .user-display__data
          .user-display__name #{reviewerName}
          .user-display__title #{reviewerTitle}
